.App{
  font-family: Verdana, sans-serif;
  margin-left: 14%;
  margin-right: 14%;
}
.sections h1{
  font-size: 20px;
  background-color: grey;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-bottom: 0%; 
}
.introduction h3{
  text-align:center;
  margin-bottom: 2%;
  margin-top: 3%;
	font-size: 40px;
	color: black;
}

.introduction h4{
  text-align:center;
  margin-top: 0.5%;
	font-size: 25px;
	color: gray;
}

.introduction {
  background-color: lightgrey;
  padding-bottom: 0.05%;
  padding-top: 0.1%;
}

.educations {
  background-color: lightgrey;
  padding-bottom: 1%;
}

.educations h3{
  margin-top: 0%;
  padding-top: 1%;
  margin-bottom: 0.5%;
}

.educations h4{
  margin-top: 0%;
  margin-bottom: 1%;
  font-weight: 500;
}

.educations .period{
  margin-bottom: 5%;
}
#left{
  float:left;
  width:20%;
  overflow:hidden;

}

#right{
  float:left;
  width:80%;
}
